Source: bro
Section: net
Priority: optional
Uploaders: Lou Ruppert <himself@louruppert.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: bro
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Bro IDS software
