#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export PFRING_VERSION=`grep PF_RING ChangeLog |head -1 |cut -d' ' -f3`
export BRO_VERSION=`dpkg-parsechangelog |grep Version|cut -d' ' -f2`


configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure --prefix=/usr/local/bro/$(BRO_VERSION)

	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	# Add here commands to compile the package.
	#$(MAKE) 
	dh_auto_build

	dh_auto_install

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_auto_clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installinit
	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install
	mkdir -p $(CURDIR)/debian/bro-pfring/etc/bro/site
	mkdir -p $(CURDIR)/debian/bro-pfring/var/log/bro
	mkdir -p $(CURDIR)/debian/bro-pfring/var/spool/bro
	echo /usr/local/bro/$(BRO_VERSION) /usr/local/bro/current > $(CURDIR)/debian/bro-pfring.links
	dh_link
	cp $(CURDIR)/debian/bro-pfring/usr/local/bro/current/etc/broccoli.conf $(CURDIR)/debian/bro-pfring/etc/bro/broccoli.conf.example
	cp $(CURDIR)/debian/bro-pfring/usr/local/bro/current/etc/broctl.cfg $(CURDIR)/debian/bro-pfring/etc/bro/broctl.cfg.example
	cp $(CURDIR)/debian/bro-pfring/usr/local/bro/current/etc/node.cfg $(CURDIR)/debian/bro-pfring/etc/bro/node.cfg.example
	cp $(CURDIR)/debian/bro-pfring/usr/local/bro/current/etc/networks.cfg $(CURDIR)/debian/bro-pfring/etc/bro/networks.cfg.example
	cp $(CURDIR)/debian/bro-pfring/usr/local/bro/current/etc/site/local.bro $(CURDIR)/debian/bro-pfring/etc/bro/site/local.bro.example
	cp $(CURDIR)/debian/bro-pfring/usr/local/bro/current/etc/site/local-manager.bro $(CURDIR)/debian/bro-pfring/etc/bro/site/local-manager.bro.example
	cp $(CURDIR)/debian/bro-pfring/usr/local/bro/current/etc/site/local-proxy.bro $(CURDIR)/debian/bro-pfring/etc/bro/site/local-proxy.bro.example
	cp $(CURDIR)/debian/bro/usr/local/bro/current/etc/site/local-worker.bro $(CURDIR)/debian/bro/etc/bro/site/local-worker.bro.example
	mv $(CURDIR)/debian/bro/usr/local/bro/current/etc $(CURDIR)/debian/bro/usr/local/bro/current/etc.dist
	mv $(CURDIR)/debian/bro/usr/local/bro/current/share/bro/site $(CURDIR)/debian/bro/usr/local/bro/current/share/bro/site.dist

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
